.main__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 10px 60px;
}

.people-list-header {
    margin: 20px 0 10px 0;
    position: relative;
}

.people-list-header::after {
    content: '';
    display: block;
    position: absolute;
    height: 2px;
    width: calc(100% + 100px);
    background: linear-gradient(90deg, transparent, white 35%, white 65%, transparent);
    left: -50px;
    bottom: -4px;
}

.people-list-header__text {
    color: white;
    font-size: 25px;
    font-weight: 100;
}

.people-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.people-list__item {
    text-decoration: none;
    outline: none;

    transition: background-color 0.225s;
    background-color: transparent;
}

.people-list__item:hover {
    background-color: rgba(255, 255, 255, 0.15);
}

.people-list__item-content-wrapper {
    padding: 15px;
    text-align: center;
}

.people-list__item-image {
    height: 250px;
}

.people-list__item-caption {
    padding-top: 10px;

    color: white;
    font-size: 18px;
    text-align: center;
}