@media(max-width: 950px) {
    .contact-info__second-column {
        padding: 20px 0 0 0;
        flex: 0 1 400px;
    }

    .contact-info__flex-break {
        flex: 1 1 100%;
    }
    
    .contact-info__emails {
        white-space: normal;   
    }

    .contact-info__map {
        width: 100%;
    }
}