@media(max-width: 950px) {
    .motto__image {
        display: none;
    }

    .motto__image-compressed {
        display: block;
    }

    .main-content__flex-break {
        flex: 1 1 100%;
    }

    .main-content__button {
        margin: 0 0 10px 0;
    }
}