@media(max-width: 950px) {
    .main {
        margin-top: -95px;
        padding-top: 95px;
        background-position: center top;
    }

    .header__main-nav {
        flex-direction: column;
        align-content: center;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 5px;
    }

    .main-nav__company-logo-wrapper {
        flex: 1;
        align-self: center;
    }

    .main-nav__company-logo {
        width: 100%;
    }

    .main-nav__top-menu {
        width: 100%;
        flex: 0;
    }

    .top-menu__button {
        flex: 1;
    }

    .nav-button__link {
        padding-left: 0;
        padding-right: 0;
        width: 100%;
        text-align: center;
    }
}

@media(max-width: 500px) {
    .footer {
        padding: 10px;
    }
}

@media(max-width: 450px) {
    .nav-button__link::after {
        width: calc(100% - 5px);
    }
}